<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ model.name }}</mat-card-title>
    <mat-card-subtitle>{{ model.species }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ model.comment }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="[model.id]">Voir</a>
    <a mat-button [routerLink]="['edit', model.id]">Modifier</a>
    <button mat-button type="button" (click)="onDelete()">Supprimer</button>
  </mat-card-actions>
</mat-card>
